

  .gallery{
    
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    justify-content: center;
  }

  .gallery img {
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease; 
  }
  
.gallery img:hover {
    transform: scale(1.1);
  } 
  
  @media (max-width: 550px) {
    
    .gallery img{
      height: 500px;
    }
  }