.timer {
    display: flex ;
    background-color: rgb(12, 51, 180);
    color: aliceblue;
    border-radius: 100px;
    padding: 20px;
    font-size: 40px;
    align-self: center;
    justify-content: center;
    width: fit-content;
    
    p{
        align-self: center;
        margin-right: 20px;
        font-size: 20px;
    }
}