.landing-page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logo{
  align-self: center;
  width: 80vw;
  z-index: 1;
}

/* .ficciones{
  position: absolute;
  top: 80%;
  left: 5px;
  z-index: 11; 
  width: 200px;
  
}

.gif{
  
} */

 .marquee {
  height: 100px;
  background-color: var(--blue);
  padding: 0 10px;
  color: #f37138;
  z-index: 3;
 }

 .marquee-child{
  margin: 20px;
  font-size: 1.5rem;
 }

.tres-cuadrados{
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
  z-index: 2;
}

.cuadrado {
  width: calc((100% - 40px) / 3); 
  height: auto; 
  max-width: 400px; 
  
 
}

@media (max-width: 768px) {
  .cuadrado {
    width: calc((100% - 20px) / 2); 
  }

  .cuadrado:last-child {
    display: none;
  }
  .ficciones{
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 11;
  
  }

  .gif{
    width: 100px;
  }
}

@media (max-width: 480px) {
  .cuadrado {
    width: calc(100% - 20px); 
  }

  .logo{
    margin: 10vh 0 10vh 0;
  }
  
}


