
 .landing-page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
 
}

.logo{
  align-self: center;
  width: 80vw;
  z-index: 1;
}


.ficciones{
  position: absolute;
  top: 80%;
  left: 80%;
  z-index: 11;
  
  
  
}

.gif{
  width: 300px;
  border-radius: 100%;
}

  
  

  
  
  
 .marquee {
  height: 100px;
  background-color: #003588;
  padding: 0 10px;
  color: #f37138;
  z-index: 3;
 }


 .marquee-child{
  margin: 20px;
  font-size: 1.5rem;
 }
.tres-cuadrados{
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centra los elementos en el contenedor */
  gap: 20px;
  z-index: 2;
  
  
}

.cuadrado {
  width: calc((100% - 40px) / 3); /* Ajusta el tamaño de cada círculo */
  height: auto; /* Ajusta la altura automáticamente para mantener las proporciones */
  max-width: 400px; /* Establece un límite máximo para el ancho del círculo */
  
 
}

@media (max-width: 768px) {
  .circulo {
    width: calc((100% - 20px) / 2); /* Ajusta el tamaño para dos círculos en pantallas más pequeñas */
  }

  .circulo:last-child {
    display: none; /* Oculta el último círculo cuando la pantalla tiene un ancho máximo de 768 píxeles */
  }
  .ficciones{
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 11;
  
  }

  .gif{
    width: 100px;
  }
}

@media (max-width: 480px) {
  .circulo {
    width: calc(100% - 20px); /* Ajusta el tamaño para un solo círculo en pantallas aún más pequeñas */
  }


  
}


