* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    overflow: hidden;
}

html, body {
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    background-color: #D9D9D9;
    

}

button {
  font-family: 'DM Sans', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

p{
  font-size: 1.2rem;
}


.basic-styles {
  max-width: 1240px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

a:link { 
    text-decoration: none !important; 
    color: #F37138;
  } 

a:visited { 
    text-decoration: none !important; 
    color: #F37138;
  } 

a:hover { 
    
    color: #F37138 !important;
    
  } 

a:active { 
    text-decoration: none !important; 
    color: #F37138;
    
  }


  .classes-container{
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: 100px auto 200px auto;
    
  }

.container-description-button{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 100px;
  margin-top: 50px;
  padding: 50px;

  
}

.container-description-button p{
  margin-bottom: 50px;
  text-align: center;
  
}

.game-section{
  
  background-color: #cec1bb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boton-comenzar{
  background-color: rgb(57, 94, 42);
  width: 50%;
  position: relative;
  margin: 20px auto 0 auto;
  
  
}
.boton-reiniciar{
  background-color: rgb(190, 130, 41);
  width: 50%;
  position: relative;
  margin: 20px auto 0 auto;
  
  
}

/* -------------------------------------------> MEDIA QUERIES */

@media (max-width: 780px) {
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 3rem;
  }
  p{
    font-size: 1.5rem;
  }
  .card-styles {
    width: 100%; 
  }
  .classes-container{
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    
  }

}

