
.estilos-form {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #000000;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 50px;
    
   
  }

  form {
    display: flex;
    flex-direction: column;
    color: #000000;
    
    padding: 2%;
    border-radius: 8px;
    text-align: center;
    
    
  }
  
  
  input, textarea , label{
    color: #000000;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
  }
  
  .error {
    color: red;
    font-size: 1rem;
    
    
  }

  .form-section{
    display: flex;
    flex-direction: column;
  }

  .form-button {
    align-self: center;
    margin-top: 50px;
    background-color: blue;
  }