
.game-cards {
    padding: 2em;
    max-width: 600px;
}
  

.game-ul {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 20px;
    
}
.game-ul .game-li {
    cursor: pointer;
    background-color: #fff;  
    border-radius: 10px;
  }
.game-ul .game-li img {
    width: 80px;
  }
  

  li .content {
    position: relative;
    width: 105px;
    height: 105px;
  }
  .front, .back{
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
    backface-visibility: hidden;
    transition: .4s;
  }
  .front {
    transform: perspective(200px) rotateY(0deg);
  }
  .back {
    transform: perspective(200px) rotateY(180deg);
  }
  .flip-front {
    transform: perspective(200px) rotateY(180deg);
  }
  .flip-back {
    transform: perspective(200px) rotateY(0deg);
  }
  
 
  .puntaje {
    align-self: center;
    font-size: 20px;
    margin: 50px;
  }