.footer {
    display: flex;
    max-width: 1240px;
    margin-top: 10%;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0 80px 0;
    justify-content: space-between; 
}

.footer-column1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    padding-left: 60px;
    text-align: left;
}

.footer-column1 a{
    align-self: baseline;
}

.footer-column2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-end;
    gap: 20px;
    padding-right: 60px; 
}

.footer-column2 a:visited{
    color: #000;
}

.footer-link {
    color: #000;
}

@media (max-width: 1000px) {

    .footer {
        padding: 40px 0 40px 0;
    }
    .footer-column1  {
        padding-left: 50px;
        p {
            font-size: 15px;
            
        }
        h2 {
            font-size: 30px;
            
        }
        
    }

    .footer-column2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-end;
        p {
            
            font-size: 15px;
        }
        
    }
  }